body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    color: black;
}

header {
    background-color: #212121;
    color: white;
    font-size: 38px;
    font-weight: bold;
    width: 100%;
    position: fixed;
}


ul {
    list-style: none;

}

li {
    display: inline;
    margin-right: 30px;
}

i {
    display: inline;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 40px;

}

h3 {
    font-size: 20px;
}

p {
    font-weight: 700;
}

img {
    height: 350px;
}

button {
    background-color: #5596F5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    border-radius: 12px;
}

#main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    
}

.productCardClass {
    padding: 30px 0px;
    text-align: center;

    background: #F5F5F5; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F5F5F5, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F5F5F5, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F5F5F5, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F5F5F5, white); /* Standard syntax (must be last) */

}


#main2 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    
}
